.section-title{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin-top: 73px;
    font-weight: 700;
    color: #333333;
}
.section-desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-top: 36px;
    color: #333333;
}
.divider{
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    border-style: none;
    margin-top: 47px;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.text-colored{
    color: #f1ad1d;
}
/*---------------------------------------------------------------------------------------------------------*/
.header{
    background-image: url("../img/header_background.png");
    padding-top: 531px;
    padding-bottom: 142px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-title{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 17px;
}
.header-subtitle{
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 27px;
}
.header-slogan{
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 44px;
    font-size: 54px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.section-img-logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}
.navbar-logo{
    display: inline-block;
    text-transform: uppercase;
    font-size: 28px;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
.navbar-nav{
    display: inline-block;
    margin-left: 160px;
}
.navbar-nav-item{
    display: inline-block;
    margin-left: 75px;

}
.navbar-nav-link{
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: #a4a4a4;
    font-family: 'Lato', sans-serif;
}
.navbar-divider{
    background-color: #f1ad1d;
    border-style: none;
    height: 3px;
}
