
.container{
    width: 1170px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.img-fluid{
    max-width: 100%;
}
.header{
    padding: 28px 0;
}
.logo{
    text-decoration: none;
}
.navbar{
    background-color: #f2f2f2;
    padding: 23px 0;
}
.navbar-nav{
    text-align: center;
}
.navbar-nav-item{
    display: inline-block;
    margin-right: 30px;
}
.navbar-nav-link{
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
    color: #4e4e4e;
    font-weight: bold;
    transition: 0.4s;
}
.navbar-nav-link:hover{
    color: #7eb8b8;
}
.navbar-nav-link.active{
    color: #7eb8b8;
}
.about-us{
    padding: 40px 0;
}
.about-us-main-img{
    text-align: center;
    margin-bottom: 70px;
}
.about-us-title{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 35px;
    text-transform: capitalize;
    color: #4e4e4e;
    text-align: center;
    margin-bottom: 27px;
}
.about-us-text{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 28px;
    color: #4e4e4e;
    text-align: center;
    margin-bottom: 27px;
    line-height: 1.5;
}

/*REVIEW SLIDER*/

.reviews{
    background-image: url(../img/reviews-bg.png);
    background-size: cover;
    padding: 80px 0;
    background-repeat: no-repeat;
    background-position: center;
}
.review-slide-title{
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #eaeaea;
    margin-bottom: 34px;
}
.review-slide-text{
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
    color: #eaeaea;
    margin-bottom: 27px;
}
.review-author {
    font-size: 12px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #539696;
}
.recents-posts{
    padding: 80px 0;
}
.recent-posts-title{
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 14px;
}
.recents-post{
    display: inline-block;
    width: 50%;
}
.recent-post-img{
    display: inline-block;
    width: 160px;
    margin-right: 20px;
}
.recent-post-content{
    display: inline-block;
    width: 395px;
    vertical-align: top;
}





